version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    network_mode: "host"
    env_file:
      - .env.production
    volumes:
      - ./prisma:/app/prisma
