version: '3.8'

services:
  whatsapp-server:
    build: ./services/baileys
    container_name: baos
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - WEBHOOK_URL=https://main.d2in5shy58lp10.amplifyapp.com/api/webhooks/whatsapp
      - AUTH_TOKEN=${AUTH_TOKEN}
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./services/baileys/auth_info_baileys:/app/auth_info_baileys
      - .:/repo # Mount the full repo for git operations

      - .:/repo # Mount the full repo for git operations

  discord-bot:
    build: ./services/discord
    container_name: discord_bot
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      - WEBHOOK_URL=https://main.d2in5shy58lp10.amplifyapp.com/api/webhooks/discord
      - PORT=3002
      # DISCORD_TOKEN will be loaded from .env file on host
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    depends_on:
      - whatsapp-server

  cron:
    build: ./services/cron
    container_name: nextjs_cron
    restart: unless-stopped
    volumes:
      - ./services/cron/crontab:/etc/crontabs/root
    depends_on:
      - whatsapp-server
