version: '3.8'

services:
  whatsapp-server:
    build: ./services/baileys
    container_name: baos
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - WEBHOOK_URL=${WEBHOOK_URL:-https://main.die6qcz48fek8.amplifyapp.com/api/webhooks/whatsapp}
      - AUTH_TOKEN=${AUTH_TOKEN}
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./services/baileys/auth_info_baileys:/app/auth_info_baileys


  cron:
    build: ./services/cron
    container_name: nextjs_cron
    restart: unless-stopped
    depends_on:
      - whatsapp-server
