version: '3.8'

services:
  whatsapp-server:
    build: ./services/whatsapp
    container_name: waha
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - WEBHOOK_URL=https://main.die6qcz48fek8.amplifyapp.com/api/webhooks/whatsapp
      - AUTH_TOKEN=${WAHA_API_KEY:-secret}
      - CHROME_BIN=/usr/bin/google-chrome-stable
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./services/whatsapp/.wwebjs_auth:/app/.wwebjs_auth

  cron:
    build: ./services/cron
    container_name: nextjs_cron
    restart: unless-stopped
    depends_on:
      - whatsapp-server
